@model List<CoSmellRefine.Models.ViewModels.Repository>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "CoSmellRefine";
}


<div class="container mt-5">
    <p class="h2">Your Repositories</p>
    <div class="card">
        <ul class="list-group list-group-flush">
                @foreach (var repo in Model)
                {
                    <li class="list-group-item">
                        <a asp-action="RepositoryContent" asp-route-owner="@repo.full_name.Split('/')[0]" asp-route-repo="@repo.name">@repo.name</a>
                    </li>
                }
        </ul>
    </div>
</div>


