
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
    --body-bg-color: #F0F6FD;
    --button-primary-bg: #2489D3;
    --csr-accent-one: #FFFE86;
    --csr-accent-two: #FCFCAE;
    --white: #fff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html {
    font-size: 12.5px;
    max-width: 100vw !important;
    scroll-behavior: smooth !important;
}

@media (min-width: 768px) {
  html {
    font-size: 12.5px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    min-width:100vw;
    background: #E5F0FF;
    padding-right:0 !important;
}

.mockup-row{
    height:100vh;
}



nav{
    background: #fff !important;
}


.light-btn, .dark-btn, .shepherd-button {
    border-radius: 3.125rem; 
    border: 0.125rem solid #2489D3; 
    background-color: #fff;
    color: #2489D3;
    font-weight: 700;
    line-height: 1.4; 
    word-wrap: break-word;
    transition: all 0.3s ease;
}

.dark-btn {
    background-color: #2489D3;
    color: #fff;
    /* Other properties are inherited from .light-btn */
}

.light-btn:hover {
    background-color: #2489D3;
    color: #fff;
}
.shepherd-button:hover {
    background-color: #2489D3;
    color: #fff;
}

.dark-btn:hover {
    background-color: #fff;
    color: #2489D3;
    border: 0.125rem solid #2489D3;
}

.landing-page-heading {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
}

.landing-page-description {
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}


.content-header {
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-content {
    color: #828282;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.collaboration-step {
    color: #333333;
    font-size: 3.12rem;
    font-family: "Outfit";
    font-weight: 700;
    word-wrap: break-word
}

.collaboration-header {
    color: #333333;
    font-size: 1.7rem;
    font-weight: 700;
    word-wrap: break-word
}

.collaboration-content {
    color: #828282;
    font-size: 1.38rem;
    font-weight: 400;
    word-wrap: break-word
}

.step-decorate {
    color: #34AEFF;
}

.contact-subheader {
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.00875rem;
    word-wrap: break-word
}



.my-container {
    height: 100vh;
}



.navbar-nav li a {
    cursor: pointer;
}

::selection {
    background-color: #FFFE86;
}

.avatar-circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #2489D3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
}




/* Laptop animation css */
.mockup {
    display: inline-block;
    position: relative;
    z-index: 3;
    text-align: center;
    font-size: 0;
    perspective: 2400px;
    perspective-origin: 50% 100%;
    opacity: 0;
    transition: 4500ms opacity;
}

    .mockup.loaded {
        opacity: 1;
    }

    .mockup .part .top,
    .mockup .part .bottom {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mockup .part.top {
        transform: translate3d(0, 0, 0) rotateX(-90deg);
    }



    .mockup .part {
        display: inline-block;
        position: relative;
        transform-style: preserve-3d;
        transform-origin: 50% 100%;
        transition: 4500ms;
    }

    .mockup.opened .part .top {
        transform: translate3d(0, 0, -11px) rotateX(90deg) scale(1, 1);
    }

    .mockup .part .top {
        transform-origin: 50% 0;
        transform: translate3d(0, 0, -11px) rotateX(90deg);
        transition: 4500ms;
    }

    .mockup img {
        display: block;
        max-width: 100%;
        backface-visibility: hidden;
    }

    .mockup .part .cover {
        position: relative;
    }

    .mockup video {
        display: block;
        position: absolute;
        top: 8%;
        left: 4%;
        width: 92%;
        border-radius: 6px;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 1px);
    }

    .mockup .part.bottom {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(0, 0, 0) rotateX(-90deg);
    }

    .mockup .part .bottom {
        transform-origin: 50% 0;
        transform: translate3d(0,0,0) rotateX(90deg);
    }




/* Sidebar Styling */


.sidebar-container {
    display: flex;
    justify-content: right;
    height: 100vh;
    width: auto;
    gap: 1.25rem; /* 20px */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 4.875rem; /* 78px */
    height: 100vh;
    background-color: var(--white);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s;
}

.user-main {
    width: calc(100% - 4.875rem); /* 78px */
    padding: 1.25rem; /* 20px */
    transition: all 0.2s;
}

.icon {
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    background-color: var(--csr-accent-one);
    border-radius: 0.75rem; /* 12px */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1rem;
    padding: 0.938rem; /* 15px */
    gap: 0.938rem; /* 15px */
    transition: all 0.2s;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    gap: 0.625rem; /* 10px */
    transition: all 0.2s;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 0.938rem;
    gap: 0.625rem;
    transition: all 0.2s;
    padding-left: 0;
}

.icon-logout {
    width: 100%;
    height: 3.75rem;
    background-color: var(--csr-accent-two);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

    .icon-logout:hover {
        background-color: var(--csr-accent-two);
        cursor: pointer;
    }

.logout-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--csr-accent-two);
    align-items: center;
    font-size: 0.9rem;
    gap: 0.625rem;
}

    .logout-container #logout-photo {
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 0.625rem;
    }

#user-container {
    display: flex;
    flex-direction: column;
    gap: -0.3125rem;
}

#user-name {
    font-size: 0.9rem;
    font-weight: 500;
}

#user-role {
    font-size: 0.7rem;
    font-weight: 400;
}



.dashboard-content-container {
    border-radius: 1.563rem;
    background: var(--white);
}

    .dashboard-content .h3, .dashboard-content-container .content-header, .dashboard-content-container .content-description {
        font-size: 1.375rem;
        font-weight: 600;
        word-wrap: break-word;
    }

.notification-header, .notification-description {
    font-size: 1rem;
    word-wrap: break-word;
}


/* Module Add Page Styling */

.form-step {
    display: none;
}

    .form-step.active {
        display: block;
    }

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group{
    margin: 2%;
}




/* User Profile Styling */

.profile-container {
    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background: linear-gradient(45deg, #999 25%, transparent 25%) -50px 0, linear-gradient(45deg, transparent 75%, #999 75%) -50px 0, linear-gradient(45deg, transparent 75%, #999 75%), linear-gradient(45deg, #999 25%, transparent 25%);
    background-size: 20px 20px;
    overflow: hidden;
}

    .profile-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        display: none;
    }

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile-image:hover .overlay {
    opacity: 1;
}

.userprofile-file-input {
    display: none;
}

.profie-icon {
    font-size: 2rem;
}

.profile-icon.delete {
        display: none;
    }



/* Shepherd Styling Modification */

.shepherd-element {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
}



/* Loading Styling */
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 60px;
    height: 60px;
    background-color: #87CEEB;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Learn Dashboard Styling */

.learn-button {
    background-color: #ED7172;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.learn-button:hover {
    background-color: #e34c4d;
    transform: translateY(-5px);
}

.learn-button.resume {
    background-color: #FBA0A1;
}

.learn-button.resume:hover {
    background-color: #f78485;
    transform: translateY(-5px);
}

.learn-button p {
    margin: 0;
    color: black;
    font-weight: bold;
}

.stick-out {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.stick-out:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Modules Styling */
.module-card {
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .module-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }




/* Submodules Styling */
.submodule-card {
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

    .submodule-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }



.submodule-icon {
    font-size: 3rem;
    margin-bottom: 15px;
}


/* Interactive Learning Styling */

.interactive-section {
    display: none;
    background: #F5EEEE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.interactive-section.active {
    display: block;
}

.developer-flashcard {
    width: 200px;
    height: 300px;
    margin: 20px auto;
    perspective: 1000px;
}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.developer-flashcard:hover .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
}

.flashcard-front {
    background: #F0F6FD;
}

.flashcard-back {
    background: #3B424B;
    color: #fff;
    transform: rotateY(180deg);
}

.progress {
    height: 5px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#progressCircle .progressbar-text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    font-size: 2rem; /* Adjust the font size as needed */
    color: #3498db; /* Color of the text */
}


/* Posting Queston Styling */

.question-form-section {
    display: none;
    height: 100%;
}

#question-progressBar {
    width: 100%;
    height: 1rem;
}

#question-progress {
    height: 100%;
    background-color: #0d6efd;
}

.question-dropzone {
    border: 2px dashed #0d6efd;
    border-radius: 10px;
    background: #f0f6fd;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    color: #6c757d;
}

.question-dropzone:hover {
    background: #e9f1fb;
}

.dropzone .dz-message {
    margin: 2em 0;
}

.question-type-selection {
    background-color: #FFFE86;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a drop shadow */
}

.question-type-selection:hover {
        transform: scale(1.01); /* Slightly enlarges the element */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adds a more prominent shadow */
}


/*Question List Styling*/



.question {
    display:inline-block;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}
    .question:hover {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
        cursor: pointer;
    }

    .question:last-child {
        border-bottom: none;
    }

.filter-section {
    border: 1px solid #2489D3;
    padding: 15px;
    border-radius: 5px;
}


/* Question Details Styling */

.question-editor {
    height: 150px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.question-supporting-images img {
    margin: 5px;
}


.vote-btn{
    cursor:pointer;
}