@model CoSmellRefine.Models.ViewModels.ModuleViewModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "CoSmellRefine";
}

<div class="container mt-5">
    <div class="card bg-transparent border-0">
        <div class="card-header bg-transparent">
            <a asp-controller="AdminContent" asp-action="List" class="btn dark-btn mb-5">
                <i class="fas fa-arrow-left"></i> Back
            </a>
            <h2>Add Module</h2>
                 
        </div>
        <div class="card-body bg-transparent border-0">
            <form asp-action="Add" asp-controller="AdminContent" method="post" enctype="multipart/form-data">
                <!-- Step 1: Basic Details -->
                <div class="form-step active" id="step-1">
                    <div class="navigation-buttons">
                        <div></div>
                        <p class="h3"> Basic Details </p>
                        <button type="button" class="btn light-btn" onclick="nextStep(2)">
                            Reading Material <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="codeSmellId">Code Smell:</label>
                        <select class="form-control" id="codeSmellId" name="CodeSmellId" required>
                            <option value="">Select a code smell</option>
                            @foreach (var codeSmell in Model.CodeSmells)
                            {
                                <option value="@codeSmell.Id">@codeSmell.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="moduleTitle">Module Title:</label>
                        <input type="text" class="form-control" id="moduleTitle" name="Title" required>
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label for="moduleDescription">Description:</label>
                        <textarea class="form-control" id="moduleDescription" name="Description" required></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                </div>
                <!-- Step 2: Reading Content -->
                <div class="form-step" id="step-2">
                    <div class="navigation-buttons">
                        <button type="button" class="btn dark-btn" onclick="prevStep(1)">
                            <i class="fas fa-arrow-left"></i> Basic Details
                        </button>
                        <p class="h3"> Reading Material </p>
                        <button type="button" class="btn light-btn" onclick="nextStep(3)">
                            Video Upload <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="readingContent">Reading Content:</label>
                        <textarea class="form-control" id="readingContent" name="ReadingContent" required></textarea>
                        <span class="text-danger" asp-validation-for="ReadingContent"></span>
                    </div>
                </div>
                <!-- Step 3: Video Upload -->
                <div class="form-step" id="step-3">
                    <div class="navigation-buttons">
                        <button type="button" class="btn dark-btn" onclick="prevStep(2)">
                            <i class="fas fa-arrow-left"></i> Reading Material
                        </button>
                        <p class="h2"> Video Upload </p>
                        <button type="button" class="btn light-btn" onclick="nextStep(4)">
                            Flashcards <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    <div id="videos" class="dropzone" style="border: 2px dashed #007bff; padding: 20px; background-color: #f8f9fa;">
                        <div class="dz-message" data-dz-message><span>Drop your video here or click to upload</span></div>
                    </div>
                    <input type="hidden" id="videoUrl" name="VideoUrls[0]" required/>
                    <video controls id="videoElement" class="mt-2 w-50" style="display:none;">
                        <source src="" type="video/mp4" id="videoDisplay">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- Step 4: Flashcards -->
                <div class="form-step" id="step-4">
                    <div class="navigation-buttons">
                        <button type="button" class="btn dark-btn" onclick="prevStep(3)">
                            <i class="fas fa-arrow-left"></i> Video Upload
                        </button>
                        <p class="h2"> Flashcards </p>
                        <button type="button" class="btn light-btn" onclick="nextStep(5)">
                            Quiz <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                    <div id="flashcards">
                        <div class="flashcard">
                            <div class="form-group">
                                <label for="flashcardQ0">Question</label>
                                <input type="text" class="form-control" id="flashcardQ0" name="Flashcards[0].Question" required>
                                <span class="text-danger" asp-validation-for="Flashcards"></span>
                            </div>
                            <div class="form-group">
                                <label for="flashcardA0">Answer</label>
                                <input type="text" class="form-control" id="flashcardA0" name="Flashcards[0].Answer" required>
                                <span class="text-danger" asp-validation-for="Flashcards"></span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary mt-3" onclick="addFlashcard()">Add Flashcard</button>
                </div>
                <!-- Step 5: Quiz -->
                <div class="form-step" id="step-5">
                    <div class="navigation-buttons">
                        <button type="button" class="btn dark-btn" onclick="prevStep(4)">
                            <i class="fas fa-arrow-left"></i> Flashcards
                        </button>
                        <p class="h2"> Quiz </p>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                    <div id="quiz">
                        <div class="quiz-question">
                            <div class="form-group">
                                <label for="quizQ0">Question 1:</label>
                                <input type="text" class="form-control" id="quizQ0" name="Quizzes[0].Question" required>
                            </div>
                            <div class="form-group">
                                <label for="quizQ0Choice0">Choice 1:</label>
                                <input type="text" class="form-control" id="quizQ0Choice0" name="Quizzes[0].Choices[0]" required>
                            </div>
                            <div class="form-group">
                                <label for="quizQ0Choice1">Choice 2:</label>
                                <input type="text" class="form-control" id="quizQ0Choice1" name="Quizzes[0].Choices[1]" required>
                            </div>
                            <div class="form-group">
                                <label for="quizQ0Choice2">Choice 3:</label>
                                <input type="text" class="form-control" id="quizQ0Choice2" name="Quizzes[0].Choices[2]" required>
                            </div>
                            <div class="form-group">
                                <label for="quizQ0Choice3">Choice 4:</label>
                                <input type="text" class="form-control" id="quizQ0Choice3" name="Quizzes[0].Choices[3]" required>
                            </div>
                            <div class="form-group">
                                <label for="quizQ0Answer">Correct Answer:</label>
                                <input type="text" class="form-control" id="quizQ0Answer" name="Quizzes[0].Answer" required>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary mt-3" onclick="addQuizQuestion()">Add Quiz Question</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var editor = new FroalaEditor('#readingContent', {
            imageUploadURL: '/api/media'
        });

        Dropzone.autoDiscover = false;

        const videoDropzone = new Dropzone("#videos", {
            url: "/api/media",
            paramName: "file",
            maxFiles: 1,
            acceptedFiles: "video/*",
            addRemoveLinks: true,
            init: function () {
                this.on("success", function (file, response) {
                    document.getElementById('videoUrl').value = response.link;
                    document.getElementById('videoDisplay').src = response.link;
                    document.getElementById('videoElement').style.display = 'block';
                    document.getElementById('videoElement').load();
                });
                this.on("error", function (file, response) {
                    console.error('Video upload failed:', response);
                    alert('Video upload failed: ' + response);
                });
            }
        });

        let flashcardCount = @Model.Flashcards.Count;
        let quizQuestionCount = @Model.Quizzes.Count;

        function nextStep(step) {
            const currentStep = document.querySelector('.form-step.active');
            //check for empty fields
            const requiredFields = currentStep.querySelectorAll('input[required], textarea[required], select[required]');
            let emptyFields = false;

            requiredFields.forEach(field => {
                if (!field.value.trim()) {
                    emptyFields = true;
                    field.classList.add('is-invalid'); // Optional: adds a class to highlight empty fields
                } else {
                    field.classList.remove('is-invalid'); // Optional: removes the class if field is filled
                }
            });

            if (emptyFields) {
                Swal.fire({
                    title: "Required Fields Missing",
                    text: "Please fill all required fields before moving on to the next step.",
                    icon: "error",
                    button: "OK",
                });
                return; 
            }


            const nextStep = document.getElementById(`step-${step}`);
            if (nextStep) {
                currentStep.classList.remove('active');
                nextStep.classList.add('active');
            }
        }

        function prevStep(step) {
            const currentStep = document.querySelector('.form-step.active');
            const prevStep = document.getElementById(`step-${step}`);
            if (prevStep) {
                currentStep.classList.remove('active');
                prevStep.classList.add('active');
            }
        }

        function addFlashcard() {
            flashcardCount++;
            const flashcardsDiv = document.getElementById('flashcards');
            const newFlashcard = document.createElement('div');
            newFlashcard.classList.add('flashcard');
            newFlashcard.innerHTML = `
                        <div class="form-group">
                            <label for="flashcardQ${flashcardCount}">Question ${flashcardCount + 1}:</label>
                            <input type="text" class="form-control" id="flashcardQ${flashcardCount}" name="Flashcards[${flashcardCount}].Question" required>
                        </div>
                        <div class="form-group">
                            <label for="flashcardA${flashcardCount}">Answer ${flashcardCount + 1}:</label>
                            <input type="text" class="form-control" id="flashcardA${flashcardCount}" name="Flashcards[${flashcardCount}].Answer" required>
                        </div>
                    `;
            flashcardsDiv.appendChild(newFlashcard);
        }

        function addQuizQuestion() {
            quizQuestionCount++;
            const quizDiv = document.getElementById('quiz');
            const newQuizQuestion = document.createElement('div');
            newQuizQuestion.classList.add('quiz-question');
            newQuizQuestion.innerHTML = `
                        <div class="form-group">
                            <label for="quizQ${quizQuestionCount}">Question ${quizQuestionCount + 1}:</label>
                            <input type="text" class="form-control" id="quizQ${quizQuestionCount}" name="Quizzes[${quizQuestionCount}].Question" required>
                        </div>
                        ${[...Array(4).keys()].map(j => `
                            <div class="form-group">
                                <label for="quizQ${quizQuestionCount}Choice${j}">Choice ${j + 1}:</label>
                                <input type="text" class="form-control" id="quizQ${quizQuestionCount}Choice${j}" name="Quizzes[${quizQuestionCount}].Choices[${j}]" required>
                            </div>
                        `).join('')}
                        <div class="form-group">
                            <label for="quizQ${quizQuestionCount}Answer">Correct Answer:</label>
                            <input type="text" class="form-control" id="quizQ${quizQuestionCount}Answer" name="Quizzes[${quizQuestionCount}].Answer" required>
                        </div>
                    `;
            quizDiv.appendChild(newQuizQuestion);
        }

        document.getElementById('step-1').classList.add('active');

        document.querySelector('form').addEventListener('submit', function (event) {
            const currentStep = document.querySelector('.form-step.active');
            const requiredFields = currentStep.querySelectorAll('input[required], textarea[required], select[required]');
            let emptyFields = false;

            requiredFields.forEach(field => {
                if (!field.value.trim()) {
                    emptyFields = true;
                    field.classList.add('is-invalid'); // Highlight the empty fields
                } else {
                    field.classList.remove('is-invalid'); // Remove highlight from filled fields
                }
            });

            if (emptyFields) {
                event.preventDefault(); // Prevent form submission
                Swal.fire({
                    title: "Required Fields Missing",
                    text: "Please fill all required fields before moving on to the next step.",
                    icon: "error",
                    button: "OK",
                });
            }
        });

    </script>
}
