@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "CoSmellRefine";
}


<div class="sidebar-container">
    <partial name="_AdminSidebar"/>

    <section class="user-main dashboard-content p-5">
        <p class="h1 mb-4">Welcome back, Admin!!!</p>
        <div class="row">
            <div class="col-5">
                <p class="h3">Users</p>
                <div class="row dashboard-content-container h-100">
                    <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                        <p class="content-header">Total Users</p>
                        <p class="content-description">12000</p>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                        <p class="content-header">New Registrations</p>
                        <p class="content-description">12000</p>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <a asp-controller="AdminUsers" asp-action="List" class="btn light-btn" data-tilt data-tilt-scale="1.1">Manage</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5 offset-1">
                <p class="h3">Modules</p>
                <div class="row dashboard-content-container h-100">
                    <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                        <p class="content-header">Total Modules</p>
                        <p class="content-description">12000</p>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                        <p class="content-header">Recently Updated Module</p>
                        <p class="content-description">12000</p>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <a asp-controller="AdminContent" asp-action="List" class="btn light-btn" data-tilt data-tilt-scale="1.1">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row mt-5">
            <div class="col-5 mt-5 h-100">
                <p class="h3">Recent Notification</p>
                <div class="row dashboard-content-container h-100 p-2">
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/notification.svg" alt="Notification">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/notification.svg" alt="Notification">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/notification.svg" alt="Notification">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/notification.svg" alt="Notification">

                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/notification.svg" alt="Notification">

                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 offset-1 mt-5 h-100">
                <p class="h3">Recent Activity</p>
                <div class="row dashboard-content-container h-100 p-2">
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/activity.svg" alt="Activity">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/activity.svg" alt="Activity">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/activity.svg" alt="Activity">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/activity.svg" alt="Activity">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row h-100">
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <img src="/images/activity.svg" alt="Activity">
                            </div>
                            <div class="col-9 d-flex flex-column justify-content-center align-items-start">
                                <p class="notification-header">User Guideline Violation</p>
                                <p class="notification-description">2 min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-5">
                <p class="h3">User Activity Overview</p>
                <canvas id="activityChart" class="dashboard-content-container p-2"></canvas>
            </div>
            <div class="col-5 offset-1">
                <p class="h3">Top Contributors</p>
                <canvas id="contributorsChart" class="dashboard-content-container p-2"></canvas>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-5">
                <p class="h3">Module Completion Rate</p>
                <canvas id="completionChart" class="dashboard-content-container p-2"></canvas>
            </div>
            <div class="col-5 offset-1">
                <p class="h3">QnA Summary</p>
                <canvas id="qnaChart" class="dashboard-content-container p-2"></canvas>
            </div>
        </div>

    </section>
</div>

@section Scripts{
    <script src="/js/admin_sidebar.js"></script>
    <script>
            $(document).ready(function () {
                const tour = new Shepherd.Tour({
                    defaultStepOptions: {
                        cancelIcon: {
                            enabled: true
                        },
                        classes: 'shepherd-theme-arrows',
                        scrollTo: { behavior: 'smooth', block: 'center' }
                    }
                });

                tour.addStep({
                    title: 'Welcome to the Tour!',
                    text: 'This is a guided tour of the features on this page.',
                    buttons: [
                        {
                            text: 'Start',
                            action: tour.next
                        }
                    ]
                });

                tour.addStep({
                    title: 'Dashboard',
                text: 'The dashboard provides a summary for the day.',
                    attachTo: {
                        element: '#dashboard',
                        on: 'right'
                    },
                    buttons: [
                        {
                            text: 'Back',
                            action: tour.back
                        },
                        {
                            text: 'Next',
                            action: tour.next
                        }
                    ]
                });

                tour.addStep({
                    title: 'User Management',
                    text: 'Here you can manage users.',
                    attachTo: {
                        element: '#users',
                        on: 'right'
                    },
                    buttons: [
                        {
                            text: 'Back',
                            action: tour.back
                        },
                        {
                            text: 'Next',
                            action: tour.next
                        }
                    ]
                });

                tour.addStep({
                    title: 'Content Management',
                    text: 'THere you can manage content.',
                    attachTo: {
                        element: '#content',
                        on: 'right'
                    },
                    buttons: [
                        {
                            text: 'Back',
                            action: tour.back
                        },
                        {
                            text: 'Next',
                            action: tour.next
                        }
                    ]
                });
                tour.addStep({
                    title: 'Notification',
                    text: 'Here you can view and read notifications.',
                    attachTo: {
                        element: '#notification-container',
                        on: 'bottom'
                    },
                    buttons: [
                        {
                            text: 'Back',
                            action: tour.back
                        },
                        {
                            text: 'Finish',
                            action: tour.complete
                        }
                    ]
                });



            setTimeout(function () {
                tour.start();
            }, 2500);
            });

 
        // Data for the charts
        // User Activity Overview
        const activityData = {
            labels: ['January', 'February', 'March', 'April'],
            datasets: [{
                label: 'Active Users',
                data: [120, 190, 300, 500],
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        // Top Contributors
        const contributorsData = {
            labels: ['Alice', 'Bob', 'Charlie', 'David'],
            datasets: [{
                label: 'Contributions',
                data: [18, 12, 15, 5],
                backgroundColor: ['rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
            }]
        };

        // Module Completion Rate (Changed to Bar Chart)
        const completionData = {
            labels: ['Completed', 'In Progress', 'Not Started'],
            datasets: [{
                label: 'Modules',
                data: [300, 150, 50],
                backgroundColor: ['rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(255, 99, 132)'],
            }]
        };

        // Q&A Summary (Changed to Scatter Chart)
        const qnaData = {
            datasets: [{
                label: 'Q&A',
                data: [
                    { x: 1, y: 10 }, { x: 5, y: 20 }, { x: 15, y: 10 }, { x: 20, y: 30 }
                ],
                backgroundColor: 'rgb(54, 162, 235)',
            }]
        };

        // Configurations for the charts
        const activityConfig = new Chart(document.getElementById('activityChart'), {
            type: 'line',
            data: activityData,
            options: {}
        });

        const contributorsConfig = new Chart(document.getElementById('contributorsChart'), {
            type: 'bar',
            data: contributorsData,
            options: {}
        });

        const completionConfig = new Chart(document.getElementById('completionChart'), {
            type: 'bar',
            data: completionData,
            options: {
                scales: {
                    xAxes: [{ stacked: true }],
                    yAxes: [{ stacked: true }]
                }
            }
        });

        const qnaConfig = new Chart(document.getElementById('qnaChart'), {
            type: 'scatter',
            data: qnaData,
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

}