@{
}

<div class="row" style="background: #E5F0FF; min-height:85vh;">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card rounded p-5" style="width: 100%; max-width: 500px;">
            <h2 class="text-center">Forgot Password</h2>
            <p class="text-center">If an account with that email address exists, you will receive a password reset email shortly.</p>
        </div>
    </div>
</div>
