@model CoSmellRefine.Models.ViewModels.LoginViewModel
@{
    }

    <div class="row" style="background: #E5F0FF; min-height:85vh;">
        <div class="col-6 d-flex justify-content-center align-items-center">
            <figure class="figure w-100 h-100 text-center mt-3" data-tilt data-tilt-scale="1.1">
                <img src="/images/login_banner.svg" class="figure-img img-fluid rounded" alt="Login Banner" data-aos="fade-up">
            </figure>
        </div>
    <div class="col-5 p-5">
        <p class="display-4 landing-page-heading text-center mt-3">Welcome back!</p>
        <form class="p-3" method="post">
            <div class="form-group mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control" asp-for="Username" required />
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
            <div class="form-group mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" asp-for="Password" required />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-5">
                <button type="submit" class="btn light-btn">Sign In</button>
            </div>
            <div class="text-center my-4">
                <hr class="w-75 mx-auto">
                <span class="position-relative px-3" style="top: -12px; background-color: #E5F0FF;">OR</span>
            </div>
    
        </form>
        <div class="d-flex justify-content-center align-items-center">
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <button type="submit" name="provider" value="GitHub" class="btn light-btn d-flex justify-content-center align-items-center w-100">
                    <img src="/images/github-logo.svg" alt="GitHub Logo" style="height: 24px; margin-right: 8px;">
                    <span class="text-center">Continue with GitHub</span>
                </button>
            </form>
        </div>
    </div>

    </div>



@section Scripts {
    <script>
        $(document).ready(function () {
            // Initialize AOS (Animate On Scroll)
            AOS.init();
        });
    </script>
}

