@{
}

<div class="row" style="background: #E5F0FF; min-height:85vh;">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card rounded p-5" style="width: 100%; max-width: 500px;">
            <h2 class="text-center">Reset Password</h2>
            <p class="text-center">Your password has been reset successfully.</p>
            <div class="text-center mt-4">
                <a href="@Url.Action("Login", "Account")" class="btn light-btn">Return to Login</a>
            </div>
        </div>
    </div>
</div>
