
<div class="row container-fluid pe-0 p-2">
     <div class="row" style="background:#E5F0FF;">
            <div class="col-6 mx-2">
                <div class="row h-100 d-flex flex-column justify-content-center align-items-center gy-5">
                    <div class="col-10">
                        <p class="display-5 landing-page-heading" id="typeit-container"></p>
                    <img src="/images/underline.svg" alt="Heading Decorator">
                    </div>
                    <div class="col-10">
                        <p class="landing-page-description">Join our platform to enhance your skills in  <br> identifying and resolving code smells, collaboratively and effectively. </p>

                    </div>
                    <div class="col-10 gx-4">
                        <button type="button" class="btn dark-btn me-2" data-tilt data-tilt-scale="1.1">Get Started</button>
                    <button type="button" class="btn light-btn ms-2" data-tilt data-tilt-scale="1.1" onclick="scrollToSection('features')">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <figure class="figure">
                    <img src="/images/clean_code_landing_image.svg" class="figure-img img-fluid rounded" alt="Clean Coder">
                  </figure>
            </div>
        </div>
        <div class="row my-5" id="features" style="background: #FFF;">
            <p class="display-5 landing-page-heading text-center m-5">CoSmellRefine comes with <br> amazing <mark>features</mark> like:</p>
            <div class="col col-12 col-md-3 offset-0 offset-md-3 me-5 mt-5" data-aos="fade-up">
                <img src="/images/qna.svg" class="figure-img img-fluid rounded" alt="Clean Coder" data-tilt data-tilt-scale="1.1">
                <p class="h3 contet-header p-2"> Collaborative Q&A</p>
                <p class="section-content p-2"> Ask questions, share knowledge, and get expert  advice on identifying code smells and applying refactoring techniques.</p>
                
            </div>
            <div class="col col-12 col-md-3 mt-5 ms-5" data-aos="fade-up">
                <img src="/images/interactive_learn.svg" class="figure-img img-fluid rounded" alt="Clean Coder" data-tilt data-tilt-scale="1.1">
                <p class="h3 contet-header p-2"> Interactive Learning</p>
                <p class="section-content p-2"> Access tutorials, flashcards, and quizzes to deepen your understanding of code smells and refactoring methods.</p>
            </div>
      </div>
    <div class="row mockup-row" style="background: #E5F0FF;">
        <div class="col-12">
            <p class="display-5 landing-page-heading text-center">Why Choose <br /><mark>CoSmellRefine</mark>?</p>

        </div>
        <div class="col-4 offset-4 d-flex flex-row justify-content-center align-items-start">
            <div class="mockup mockup-macbook loaded opened">
                <div class="part top">
                    <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-top.svg" alt="" class="top">
                    <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg" alt="" class="cover">
                    <video controls>
                        <source src="/videos/CoSmellRefine.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="part bottom">
                    <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg" alt="" class="cover">
                    <img src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-bottom.svg" alt="" class="bottom">
                </div>
            </div>
        </div>
    </div>
      <div class="row" id="howitworks" style="background: #fff;" >
        <p class="display-5 landing-page-heading text-center pb-5 pt-5">How <mark>Collaborative Q&A</mark> Works?</p>
        <div class="col-6">
            <figure class="figure w-100 h-100 text-center" data-tilt data-tilt-scale="1.1">
                <img src="/images/collaboration.svg" class="figure-img img-fluid rounded" alt="Clollaboration"  data-aos="flip-left">
              </figure>
        </div>
        <div class="col-6">
            <div class="row h-100">
                <div class="col-6">
                    <p class="collaboration-step">1<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Ask Questions</p>
                    <p class="collaboration-content">Submit your code snippets with questions about potential code smells.  Provide details and context to help the community understand your issue.</p>
                </div>
                <div class="col-6">
                    <p class="collaboration-step">2<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Collaborate</p>
                    <p class="collaboration-content">Engage in discussions with the community. Offer your own insights, ask  for clarifications, and collaboratively resolve code smell issues.</p>
                </div>
                <div class="col-6">
                    <p class="collaboration-step">3<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Vote and Validate</p>
                    <p class="collaboration-content">Vote on the best answers and solutions. Help validate code smells and refactoring techniques through community consensus.</p>
                </div>
                <div class="col-6">
                    <p  class="collaboration-step">4<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Review and Implement</p>
                    <p class="collaboration-content">Review the suggested solutions, implement the refactoring techniques,  and improve your code quality with community-driven feedback.</p>
                </div>
            </div>
        </div>
      </div>
    <div class="row" style="background: #E5F0FF;">
        <p class="display-5 landing-page-heading text-start lh-lg pt-5 pb-2">Let’s checkout your <mark>learning</mark> journey</p>
        <div class="col-6">
            <div class="row h-100 p-2">
                <div class="col-6">
                    <p class="collaboration-step">1<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Access Tutorials:</p>
                    <p class="collaboration-content">Explore our comprehensive tutorials that cover the fundamentals and advanced concepts of code smells and refactoring techniques.</p>
                </div>
                <div class="col-6">
                    <p class="collaboration-step">2<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Use Flashcards:</p>
                    <p class="collaboration-content">Reinforce your knowledge with flashcards designed to help you remember key concepts and best practices in software refactoring.</p>
                </div>
                <div class="col-6">
                    <p class="collaboration-step">3<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Quizzes:</p>
                    <p class="collaboration-content">Test your understanding with quizzes and assessments. Ensure you're ready to apply what you've learned in real-world scenarios.</p>
                </div>
                <div class="col-6">
                    <p  class="collaboration-step">4<span class="step-decorate">.</span></p>
                    <p class="collaboration-header">Track Progress:</p>
                    <p class="collaboration-content">Monitor your learning journey with personalized progress tracking. Set  goals, complete modules, and see your improvement over time.</p>
                </div>
            </div>
        </div>
        <div class="col-5 offset-1">
            <div class="row h-100">
                <div class="col-4" data-tilt data-tilt-scale="1.1">
                    <img src="/images/book.svg" class="figure-img img-fluid rounded" alt="Clollaboration" data-aos="fade-up">
                </div>
                <div class="w-100">
                </div>
                <div class="col-4 offset-5" data-tilt data-tilt-scale="1.1">
                        <img src="/images/check.svg" class="figure-img img-fluid rounded" alt="Check" data-aos="fade-up">
                </div>
                <div class="w-100">
                </div>
                <div class="col-4" data-tilt data-tilt-scale="1.1">
                        <img src="/images/up.svg" class="figure-img img-fluid rounded" alt="Up" data-aos="fade-up">
                </div>
            </div>
        </div>
      </div>

      <div class="row" id="contactus" style="background: #fff;">
        <div class="col-6">
            <p class="display-5 landing-page-heading text-start">Contact Us</p>
            <form>
                <div class="mb-3">
                    <label for="contact-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="contact-name" aria-describedby="name" required>
                  </div>
                <div class="mb-3">
                  <label for="contact-email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="contact-email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="contact-number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="contact-number" aria-describedby="phoneNumber" required>
                  </div>
                  <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" aria-label="message" required ></textarea>
                  </div>
                <div class="d-flex justify-content-center align-items-center" data-tilt data-tilt-scale="1.1">
                    <button type="submit" class="btn dark-btn me-0 text-center">Submit</button>
                </div>
              </form>
        </div>
        <div class="col-6" >
            <figure class="figure w-100 h-100 text-center mt-2" data-tilt data-tilt-scale="1.1">
                <img src="/images/email.svg" class="figure-img img-fluid rounded" alt="Contact" data-aos="zoom-in">
              </figure>
        </div>
      </div>
</div>


@section Scripts{
    <script>
        document.addEventListener('scroll', function () {
            var scrollPosition = window.scrollY;
            var laptopTop = document.querySelector('.mockup .part.top');
            console.log(scrollPosition);

            // Define the scroll threshold to trigger the animation
            var scrollThreshold = 1000; 

            if (scrollPosition >= scrollThreshold) {
                laptopTop.style.transform = 'translate3d(0, 0, 0) rotateX(0deg)';
            } else {
                laptopTop.style.transform = 'translate3d(0, 0, 0) rotateX(-90deg)';
            }
        });
        $(document).ready(function () {
            // Typed.js for typing animation
            new TypeIt("#typeit-container", {
                strings: ["Write Clean Code", "Identify Smelly Code", "Refactor Code"],
                speed: 100,
                breakLines: false,
                loop: true
            }).go();

            // Function to smoothly scroll to a section
            window.scrollToSection = function (id) {
                $('html, body').animate({
                    scrollTop: $('#' + id).offset().top
                }, 500);
            };

            // Initialize AOS (Animate On Scroll)
            AOS.init();
        });
    </script>

}